/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import '~antd/dist/antd.css';

.site-page-header {
  /* border: 1px solid rgb(255, 255, 255); */
}

html, body {
  background-color: lavender;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.app_container {
  width: 1200px;
  margin: 0px auto;
  margin-top: 10px;
}
.app_main_navigation {
  margin-bottom: 20px
}

.topnav input[type=text] {
  float: left;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  width: 400px;
}